[defaults]
inventory	= {{ item.base_path }}/inventory
force_valid_group_names = ignore
roles_path 	= {{ item.base_path }}/roles   
forks		= {{ item.forks }}
transport	= ssh
{% if not item.ssh_host_key_check %}
host_key_checking = False
{% endif %}
retry_files_enabled = False
{% if item.vault_file is defined %}
vault_password_file = {{ item.vault_file }}
{% endif %}
{% if item.use_mitogen %}
strategy_plugins = {{ item.base_path }}/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
{% else %}
strategy = linear
{% endif %}
{% if item.log_to_disk %}
log_path = /var/log/ansible/{{ item.name }}/ansible.log
{% endif %}
# Adding some interesting stats
callback_whitelist = profile_tasks, timer
# Switch to smart so also using cached facts
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_cache
timeout = 30
{% if ansible_use_ara %}
callback_plugins=/usr/lib/python3.6/site-packages/ara/plugins/callback
action_plugins=/usr/lib/python3.6/site-packages/ara/plugins/action
lookup_plugins=/usr/lib/python3.6/site-packages/ara/plugins/lookup
{% endif %}

{% if ansible_use_ara %}
[ara]
api_client = http
api_server = http://127.0.0.1:8000
default_labels = {{ item.name }}
{% endif %}

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist={{ ansible_ssh_ControlPersist }} -o ServerAliveInterval={{ ansible_ssh_ServerAliveInterval }}
control_path_dir = ~/.ansible/cp


[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
