
module podman-unpriv-init 1.0.1;

require {
	type container_file_t;
	type var_lib_t;
	type init_t;
	class file { execute execute_no_trans };
}

#============= init_t ==============

allow init_t container_file_t:file { execute execute_no_trans };
allow init_t var_lib_t:file { execute execute_no_trans };
